
<div id='satellite' class='map'></div>
<div id='streets' class='map'></div>
<%#
<div class='map-overlay bottom'>
  <div class='map-overlay-inner'>
    <fieldset>
      <label>Inspection Map</label>
      <select id='layer' name='layer' onchange="changeLayer(this, event);" onfocus="this.selectedIndex = -1;">
        <option value='satellite'>satellite-v9</option>
        <option value='streets'>streets-v11</option>
        <option value='light'>light-v10</option>
        <option value='dark'>dark-v10</option>
      </select>
    </fieldset>
  </div>
  %>
</div>
