<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <% include partials/sidebar %>
  </aside>
  <div id="appbody" class="content-wrapper">
    <% include partials/geo %>
  </div>
</div>
<!-- ./wrapper -->
<!-- REQUIRED SCRIPTS -->
<% include partials/users/scripts %>
</body>
</html>
