<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>Swipe between maps</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/turf/v3.0.11/turf.min.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-compare/v0.1.0/mapbox-gl-compare.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.0.9/mapbox-gl-draw.css' type='text/css'/>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.3.1/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-compare/v0.1.0/mapbox-gl-compare.css' type='text/css'/>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div id='before' class='map'></div>
    <div id='after' class='map'></div>
    <div class='calculation-box'>
      <p>Draw a polygon using the draw tools.</p>
      <div id='calculated-area'></div>
    </div>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoibXlzb3JuMSIsImEiOiIwODY0MDQ0ZTdiYTViYmU0ZTZiOGI4OTU5MjQxZGY1NCJ9.elqMFi4oQtFFjYXbW2Oxig';

      var beforeMap = new mapboxgl.Map({
        container: 'before',
        style: 'mapbox://styles/mapbox/satellite-v9',
        center: [-74.50, 40],
        zoom: 9
      });
      var afterMap = new mapboxgl.Map({
        container: 'after',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [-74.50, 40],
        zoom: 9
      });
      var map = new mapboxgl.Compare(beforeMap, afterMap, {
        // Set this to enable comparing two maps by mouse movement:
        // mousemove: true
      });

      var draw = new MapboxDraw({
        displayControlsDefault: true,
        controls: {
          line_string: true,
          point: true,
          polygon: true,
          trash: true
        }
      });

      afterMap.addControl(draw);
      afterMap.on('draw.create', updateArea);
      afterMap.on('draw.delete', updateArea);
      afterMap.on('draw.update', updateArea);

      function updateArea(e) {
        var data = draw.getAll();
        var answer = document.getElementById('calculated-area');
        if (data.features.length > 0) {
          var area = turf.area(data);
          // restrict to area to 2 decimal points
          var rounded_area = Math.round(area*100)/100;
          answer.innerHTML = '<p><strong>' + rounded_area + '</strong></p><p>square meters</p>';
        } else {
          answer.innerHTML = '';
          if (e.type !== 'draw.delete') {
            alert("Use the draw tools to draw a polygon!");
          }
        }
      }

    </script>
  </body>
</html>
